@font-face {
    font-family: 'Fira Code';
    src: url('FiraCode-Bold.woff2') format('woff2'),
        url('FiraCode-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Fira Code';
    src: url('FiraCode-Light.woff2') format('woff2'),
        url('FiraCode-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Fira Code';
    src: url('FiraCode-Medium.woff2') format('woff2'),
        url('FiraCode-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Fira Code';
    src: url('FiraCode-Regular.woff2') format('woff2'),
        url('FiraCode-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Fira Code Retina';
    src: url('FiraCode-Retina.woff2') format('woff2'),
        url('FiraCode-Retina.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Fira Code';
    src: url('FiraCode-SemiBold.woff2') format('woff2'),
        url('FiraCode-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
  font-family: 'Smiley Sans';
  src: url('SmileySans-Oblique.woff2') format('woff2'),
      url('SmileySans-Oblique.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Smiley Sans Oblique';
  src: url('SmileySans-Oblique.woff2') format('woff2'),
      url('SmileySans-Oblique.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}